* {
  box-sizing: border-box;
 
}

body, html {
    margin: 0;
    padding: 0;
    text-align: center; 
}

.container {
    width: 80%;
    max-width: 900px; 
    margin: auto; 
}

.logo-container {
    margin-bottom: 20px; 
    margin-top: 60px;
}

.radio-logo {
    width: 50%;
}

.accordion {
    color: #F8F7F2;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    background-color: #223127;
    margin: 20px 0px 20px 0px;
  }

.panel {
    display: none;
    overflow: hidden;
    padding: 20px;
    background-color: #F3F0AD;
  }



  